@import 'themes';
.courses,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

%a-shared {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

@mixin courses-card-layout(
  $background-color__left,
  $transparent__left,
  $background-color__right,
  $transparent__right,
  $url
) {
  background: linear-gradient(
      to right,
      rgba($background-color__left, $transparent__left),
      rgba($background-color__right, $transparent__right)
    ),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 250px;
  margin: 20px;
  position: relative;
  border-radius: 15px;
}

%card-shadow-shared {
  box-shadow: 5px 5px 10px grey;
}

%transform-shared {
  transform: translate(-2px, -2px);
}

%information-shared {
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .information__name {
    font-weight: bold;
    position: absolute;
    top: 4%;
    left: 18%;
  }
  .information__title {
    font-size: 0.8rem;
    position: absolute;
    top: 18%;
    left: 18%;
  }
  a {
    @extend %a-shared;
    margin-left: 8px;
    &:hover {
      color: $hyperlink-color__hover;
    }
  }
  .information__rating {
    position: absolute;
    top: 10%;
    right: 5%;
    letter-spacing: -1px;
    font-size: 0.7rem;
  }
}

.card1 {
  @include courses-card-layout(
    $card1-background-color__left,
    1,
    $card1-background-color__right,
    0.55,
    '../images/card1__bgImg.jpg'
  );
  &:hover {
    @extend %card-shadow-shared;
    @extend %transform-shared;
  }
  &__title {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    top: 12%;
    left: 8%;
  }
  &__content {
    color: white;
    position: absolute;
    top: 32%;
    left: 8%;
    font-size: 0.8rem;
    width: 80%;
  }
  a {
    @extend %a-shared;
    bottom: 23%;
    left: 8%;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0px 25px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    &:hover {
      border: 1px solid $card1-background-color__left;
      color: $card1-background-color__left;
      background-color: white;
    }
  }
}

.card2 {
  @include courses-card-layout(
    $card2-background-color__left,
    1,
    $card2-background-color__right,
    0.7,
    '../images/card2__bgImg.jpg'
  );
  &:hover {
    @extend %card-shadow-shared;
    @extend %transform-shared;
  }
  &__title {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    top: 12%;
    left: 8%;
  }
  &__content {
    color: white;
    position: absolute;
    top: 32%;
    left: 8%;
    font-size: 0.8rem;
    width: 80%;
  }
  a {
    @extend %a-shared;
    bottom: 23%;
    left: 8%;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0px 25px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    &:hover {
      border: 1px solid $card2-background-color__left;
      color: $card2-background-color__left;
      background-color: white;
    }
  }
}

.card3 {
  width: 420px;
  height: 220px;
  margin: 20px;
  position: relative;
  border-radius: 15px;
  border: 1px solid rgba(grey, 0.1);
  &:hover {
    @extend %card-shadow-shared;
    @extend %transform-shared;
  }
  .information {
    @extend %information-shared;
    a {
      color: card2-background-color__left;
    }
  }
  &__content {
    position: absolute;
    bottom: 5%;
    padding: 0px 25px;
    line-height: 1.6;
  }
}

.card4 {
  background: linear-gradient(
    to bottom right,
    rgba($card1-background-color__left, 1),
    rgba($card1-background-color__right, 0.6)
  );
  width: 420px;
  height: 220px;
  margin: 20px;
  position: relative;
  border-radius: 15px;
  color: white;
  &:hover {
    @extend %card-shadow-shared;
    @extend %transform-shared;
  }
  .information {
    @extend %information-shared;
    a {
      color: white;
    }
  }
  &__content {
    position: absolute;
    bottom: 5%;
    padding: 0px 25px;
    line-height: 1.6;
  }
}
