.courses,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.card3 .information a, .card4 .information a, .card1 a, .card2 a {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  font-weight: bold; }

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
  box-shadow: 5px 5px 10px grey; }

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
  transform: translate(-2px, -2px); }

.card3 .information img, .card4 .information img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 5%; }
.card3 .information .information__name, .card4 .information .information__name {
  font-weight: bold;
  position: absolute;
  top: 4%;
  left: 18%; }
.card3 .information .information__title, .card4 .information .information__title {
  font-size: 0.8rem;
  position: absolute;
  top: 18%;
  left: 18%; }
.card3 .information a, .card4 .information a {
  margin-left: 8px; }
  .card3 .information a:hover, .card4 .information a:hover {
    color: #ffd43b; }
.card3 .information .information__rating, .card4 .information .information__rating {
  position: absolute;
  top: 10%;
  right: 5%;
  letter-spacing: -1px;
  font-size: 0.7rem; }

.card1 {
  background: linear-gradient(to right, #808eeb, rgba(134, 141, 232, 0.55)), url("../images/card1__bgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 250px;
  margin: 20px;
  position: relative;
  border-radius: 15px; }
  .card1__title {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    top: 12%;
    left: 8%; }
  .card1__content {
    color: white;
    position: absolute;
    top: 32%;
    left: 8%;
    font-size: 0.8rem;
    width: 80%; }
  .card1 a {
    bottom: 23%;
    left: 8%;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0px 25px;
    font-size: 0.8rem;
    letter-spacing: 2px; }
    .card1 a:hover {
      border: 1px solid #808eeb;
      color: #808eeb;
      background-color: white; }

.card2 {
  background: linear-gradient(to right, #4444e5, rgba(105, 184, 161, 0.7)), url("../images/card2__bgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 250px;
  margin: 20px;
  position: relative;
  border-radius: 15px; }
  .card2__title {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    top: 12%;
    left: 8%; }
  .card2__content {
    color: white;
    position: absolute;
    top: 32%;
    left: 8%;
    font-size: 0.8rem;
    width: 80%; }
  .card2 a {
    bottom: 23%;
    left: 8%;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0px 25px;
    font-size: 0.8rem;
    letter-spacing: 2px; }
    .card2 a:hover {
      border: 1px solid #4444e5;
      color: #4444e5;
      background-color: white; }

.card3 {
  width: 420px;
  height: 220px;
  margin: 20px;
  position: relative;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.1); }
  .card3 .information a {
    color: card2-background-color__left; }
  .card3__content {
    position: absolute;
    bottom: 5%;
    padding: 0px 25px;
    line-height: 1.6; }

.card4 {
  background: linear-gradient(to bottom right, #808eeb, rgba(134, 141, 232, 0.6));
  width: 420px;
  height: 220px;
  margin: 20px;
  position: relative;
  border-radius: 15px;
  color: white; }
  .card4 .information a {
    color: white; }
  .card4__content {
    position: absolute;
    bottom: 5%;
    padding: 0px 25px;
    line-height: 1.6; }

/*# sourceMappingURL=style.css.map */
