$card1-background-color__left: rgb(128, 142, 235);
$card1-background-color__right: rgb(134, 141, 232);
$card2-background-color__left: rgb(68, 68, 229);
$card2-background-color__right: rgb(105, 184, 161);
$hyperlink-color__hover: #ffd43b;
