* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: relative; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  outline: none;
  border: none;
  padding: none;
  background: transparent;
  cursor: pointer; }

nav .logo a, nav ul .navbar__item--active, .home .home-info__title h1 .name {
  background-image: linear-gradient(315deg, #742df6 25%, #25a2ef);
  background-clip: text;
  color: transparent; }

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 20px; }

nav {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  height: 80px;
  box-shadow: 0 1px 0 #f9fafb;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px; }
  nav .logo {
    flex-grow: 1; }
    nav .logo a {
      font-size: 1.5rem;
      font-weight: 500; }
  nav ul {
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center; }
    nav ul .navbar__item {
      color: #666666;
      padding: 13px 16px; }
      nav ul .navbar__item:hover {
        background-color: #d9d9d9;
        opacity: 0.9;
        border-radius: 8px; }
    nav ul .navbar__item--active {
      color: #742df6; }
  nav .menu-btn {
    display: none; }

.home {
  padding-top: 80px;
  justify-content: space-around; }
  .home .home-info {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .home .home-info__title h1 {
      font-weight: 500;
      color: #42446e;
      font-size: 2rem; }
      .home .home-info__title h1 .name {
        font-size: 2.25rem;
        font-weight: 700; }
      .home .home-info__title h1 .animation {
        display: block;
        font-weight: 700;
        color: #42446e;
        font-size: 1.5rem;
        margin: 15px 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        border-right: 2px solid #42446e;
        animation: mark 0.5s step-end infinite, write 5s steps(27, end) infinite; }
@keyframes mark {
  50% {
    border-right: transparent; } }
@keyframes write {
  20% {
    width: 22ch; }
  65% {
    width: 22ch; }
  85% {
    width: 0; }
  100% {
    width: 0; } }
    .home .home-info__title p {
      color: #666666;
      font-size: 1.1rem;
      line-height: 1.5; }
    .home .home-info__contacts .social-media {
      display: flex;
      justify-content: space-evenly;
      width: 120px;
      margin: 10px 0; }
    .home .home-info__contacts .fa-linkedin {
      font-size: 1.75rem;
      color: #0a66c2; }
    .home .home-info__contacts .fa-github {
      font-size: 1.75rem;
      color: #000; }
    .home .home-info__contacts button {
      width: 120px;
      font-weight: 500;
      padding: 12px;
      border-radius: 8px;
      background-image: linear-gradient(315deg, #742df6 25%, #25a2ef);
      opacity: 0.9; }
      .home .home-info__contacts button:hover {
        opacity: 1; }
    .home .home-info__contacts a {
      color: #fff; }
  .home .profile-photo {
    width: 30%;
    display: flex; }
    .home .profile-photo img {
      width: 250px;
      height: 250px;
      animation: float 5s ease-in-out infinite;
      box-shadow: 0 5px 15px;
      border-radius: 50%; }
@keyframes float {
  0%,
      100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-30px); } }
.skills {
  justify-content: center;
  flex-direction: column; }
  .skills h2 {
    font-weight: 500;
    color: #42446e;
    font-size: 2rem; }
  .skills .skills-info {
    width: 100%;
    margin-top: 12px; }
    .skills .skills-info p {
      hyphens: auto;
      color: #666666;
      font-size: 1.1rem;
      line-height: 1.5; }
    .skills .skills-info__technologies {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .skills .skills-info__technologies__card {
        display: flex;
        align-items: center;
        width: 200px;
        height: 80px;
        background-color: #f9fafb;
        padding: 12px 12px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        margin: 20px 0 10px 0;
        transition: opacity 0.6s ease-out; }
        .skills .skills-info__technologies__card img {
          width: 48px;
          height: 48px; }
        .skills .skills-info__technologies__card span {
          display: inline-block;
          margin-left: 20px;
          font-weight: 500; }

.test {
  width: 300px;
  height: 300px;
  font-size: 500px;
  color: red;
  background-color: lightblue; }

/*# sourceMappingURL=style.css.map */
